<h1><%= @campaign.name %></h1>

<p>Start Date: <%= @campaign.start_date %></p>
<p>End Date: <%= @campaign.end_date %></p>
<p>Description: <%= @campaign.description %></p>

<h2>Assigned Clients</h2>
<ul>
  <% @campaign.clients.each do |client| %>
    <li><%= client.first_name %> <%= client.last_name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back to Campaigns', campaigns_path %>
