<div class="form-structor">
  <!-- Flash Messages -->
  <% if flash[:alert] %>
    <div class="alert-message">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <!-- Login Form -->
  <div class="login">
    <!-- Add the logo here -->
    <div class="logo-container">
      <%= image_tag 'Logo_La_Canadienne_Redesign-No_R.png', alt: 'Logo', class: 'login-logo' %>
    </div>
    
    <h2 class="form-title" id="login"><span></span>Log in</h2>
    
    <div class="form-holder">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class: "submit-btn" %>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>



<style>

</style>
