<%= turbo_frame_tag "campaigns" do %>
  <div class="campaign-details">
    <h1 class="campaign-title"><%= @campaign.name %></h1>

    <div class="campaign-info">
      <p><strong>Description:</strong> <%= @campaign.description %></p>
      <p><strong>Start Date:</strong> <%= @campaign.start_date.strftime("%B %d, %Y") %></p>
      <p><strong>End Date:</strong> <%= @campaign.end_date.strftime("%B %d, %Y") %></p>
    </div>

    <% if @campaign.images.attached? %>
      <h3 class="section-title">Campaign Images</h3>
      <div class="campaign-images">
        <% @campaign.images.each do |image| %>
          <%= image_tag image, class: "campaign-image-small" %>
        <% end %>
      </div>
    <% end %>

    <h2 class="section-title">Assigned Clients</h2>
    <div class="assigned-clients">
      <% @campaign.clients.includes(:messages, :campaign_assignments).each do |client| %>
        <% assignment = client.campaign_assignments.find { |ca| ca.campaign_id == @campaign.id } %>
        <%= link_to new_campaign_message_path(@campaign, client_id: client.id), class: "client-task" do %>
          <div class="client-content">
            <h4 class="client-name"><%= client.full_name %></h4>
            <% message = client.messages.find { |m| m.campaign_id == @campaign.id } %>
            <p><strong>Subject:</strong> <%= message&.subject || "No subject available" %></p>
            <p><strong>Message:</strong> <%= message&.body || "No message available" %></p>
            <% if assignment&.message_sent %>
              <span class="badge badge-success">Message Sent</span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
